.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	border-bottom: 1px solid black;
	position: sticky;
	top: 0;
	background-color: hsl(40, 12%, 95%);
	z-index: 5;

	.logo-container {
		height: 100%;
		width: 70px;
		display: flex;
		justify-content: center;
		align-items: center;

		.logo {
			transition: all 0.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
			transition-property: filter;
		}
		&:hover {
			& .logo {
				filter: opacity(50%);
				transition: all 0.2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
				transition-property: filter;
			}
		}
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
		}

		.option::after {
			content: "";
			display: block;
			width: 0;
			height: 1px;
			background: #000;
			transition: width 0.3s;
		}

		.option:hover::after {
			width: 100%;
		}
	}
}
